@page
@model SEP_Management.Areas.ClassManager.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@* 
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].SemesterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].GitlabId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].AccessToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitlabId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="container-fluid">
    <div class="layout-specing">
        <div class="row">
            <div class="col-xl-9 col-md-2">
                <h5 class="mb-0">Class Management</h5>

                <nav aria-label="breadcrumb" class="d-inline-block mt-2">
                    <ul class="breadcrumb breadcrumb-muted bg-transparent rounded mb-0 p-0">
                        <li class="breadcrumb-item"><a href="UserController?service=listAll">Class Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Class list</li>
                    </ul>
                </nav>
            </div><!--end col-->

        </div><!--end row-->
        <div class="row" style="display: flex; justify-content: space-between;">

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterSemester">
                    <div class="row ">
                        <div class="">
                            <select name="checkSemester" class="form-select" id="checkSemester" onchange="this.form.submit()">
                                <option value="" hidden="">Semester Filter:</option>
                                <option value="display">All</option>
                                    <option value="${st.settingId}"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterSubject">
                    <div class="row ">
                        <div class="">
                            <select name="checkSubject" class="form-select" id="checkSubject" onchange="this.form.submit()">
                                <option value="" hidden="">Subject Filter:</option>
                                <option value="display">All</option>
                                    <option value="${sb.subjectId}"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterTeacher">
                    <div class="row ">
                        <div class="">
                            <select name="checkTeacher" class="form-select" id="checkTeacher" onchange="this.form.submit()">
                                <option value="" hidden="">Teacher Filter:</option>
                                <option value="display">All</option>
                                    <option value="${us.userId}"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterStatus">
                    <div class="row ">
                        <div class="">
                            <select name="checkStatus" class="form-select" id="checkStatus" onchange="this.form.submit()">
                                <option value="" hidden="">Status Filter:</option>
                                <option value="display">All</option>
                                <option value="2">Pending</option>
                                <option value="1">Started</option>
                                <option value="0">Closed</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="search-bar p-0 d-none d-lg-block col-md-2 mt-5">
                <div id="search" class="menu-search mb-0">
                    <form role="search" method="post" id="searchform" class="searchform" action="ClassController?service=searchName">
                        <div>
                            <input value="" type="text" class="form-control border rounded-pill" name="name" id="name" placeholder="Search Keywords...">
                            <input type="submit" id="searchsubmit" value="Search">
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <div class="table-responsive bg-white shadow rounded">

            <table id="myTable" class="table mb-0 table-hover table-bordered">
                <thead>
                    <tr>
                        <th onclick="sortTable(1)" class="border-bottom p-3" style="min-width: 180px; cursor: pointer">
                            Class Code<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(2)" class="border-bottom p-3" style="min-width: 150px; cursor: pointer;">
                            Semester<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(3)" class="border-bottom p-3" style="min-width: 150px; cursor: pointer;">
                            Subject<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(4)" class="border-bottom p-3" style="min-width: 150px; cursor: pointer;">
                            Teacher<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(5)" class="border-bottom p-3" style="min-width: 130px; cursor: pointer;">
                            Status<i class="uil uil-sort"></i>
                        </th>
                        <th class="border-bottom p-3" style="min-width: 50px;">Actions</th>
                    </tr>
                </thead>


                    <tbody>
                    @foreach(var item in Model.Classes)
                    {
                        <tr>
                            <td class="p-3">
                                <a href="#" class="text-dark">
                                    <div class="d-flex align-items-center">
                                        <span class="ms-2">
                                            @item.ClassCode
                                        </span>
                                    </div>
                                </a>
                            </td>

                            <td class="p-3">
                                @item.Semester?.Name
                            </td>

                            <td class="p-3">
                                @item.Subject?.SubjectCode
                            </td>

                            <td class="p-3">
                                @item.Manager?.FullName
                            </td>
                            @if(item.Status == 0)
                            {
                                <td><span class="badge bg-soft-danger">Closed</span></td>
                            }
                            else if(item.Status == 1)
                            {
                                <td><span class="badge bg-soft-success">Started</span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-soft-warning">Pending</span></td>
                            }
                            <td class="p-3">
                                <a asp-page="Details" asp-route-id="@item.ClassId">
                                    <i style="font-size:30px" class="uil uil-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    

                </tbody>
            </table>

        </div>
    </div>
</div><!--end container-->
